
* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

body {
  background: linear-gradient(to right, #f857a6, #ff5858);
}

.main {
  background-color: white;
  width: 30%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 25px;
  padding-top: 30px;
  border-radius: 5px;
  margin-top: 100px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  max-width: 500px;
  min-width: 250px;
}

form {
  display: flex;
  flex-direction: column;
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: #ff69b4;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  transition: transform 400ms;
}

input {
  width: 100%;
  border: 2px solid #eee;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 1rem;
}

ol {
  padding-top: 15px;
  padding-left: 40px;
  font-family: 'Open Sans', sans-serif;

}

ol li {
  padding: 5px;
  font-size: 1rem;
}

.main h1 {
  margin-bottom: 5px;
}

.main p {
  margin-bottom: 10px;
}

ol li span {
  text-align: right;
  float: right;
  padding-right: 10px;
}

button:hover {
  background-color: #ff1493;
  cursor: pointer;
  transform: scale(1.03);
  transition: transform 400ms;
}

/* ol li span:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 300ms;
  color: #ff0000;
} */

ol li:hover {
  background-color: #eee;
}
